{% extends 'base.html.twig' %}


{% block body %}
	<div class="contact">
		<div class="row">
			<h2 class="text-center">Une question ?</h2>
			
			<p class="text-center">N’hésitez pas à me contacter, je vous répondrai le plus rapidement possible</p>
		</div>
		
		<form action="" class="row">
			<div class="row">
				<div class="small-12 medium-9 columns">
					<div class="row">
						<div class="small-12 medium-6 columns">
							<div class="small-12 medium-3 columns">
								<label for="">Nom</label>
							</div>
							<div class="small-12 medium-9 columns">
								<input type="text">
							</div>
						</div>
						<div class="small-12 medium-6 columns">
							<div class="small-12 medium-3 columns">
								<label for="">Prénom</label>
							</div>
							<div class="small-12 medium-9 columns">
								<input type="text">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-9 columns">
					<div class="row">
						<div class="small-12 medium-6 columns">
							<div class="small-12 medium-3 columns">
								<label for="">Email</label>
							</div>
							<div class="small-12 medium-9 columns">
								<input type="text">
							</div>
						</div>
						<div class="small-12 medium-6 columns">
							<div class="small-12 medium-3 columns">
								<label for="">Objet</label>
							</div>
							<div class="small-12 medium-9 columns">
								<input type="text">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns message">
					<label for="">Message</label>
					<textarea name="" id="" cols="30" rows="10"></textarea>
				</div>
			</div>
			<div class="row">
				<button>Envoyer</button>
			</div>
		</form>
		
		<div class="row espace-bottom">
			<h2 class="text-center">Ou aussi</h2>
			<p class="text-center">
				Vous pouvez me contacter au : <strong>06 58 09 51 66</strong><br>
				et m’écrire : <strong>margaux.bailly.design@gmail.com</strong>
			</p>
		</div>
	</div>
{% endblock %}