{% extends 'base.html.twig' %}


{% block body %}
	<div class="index">
		<h1>Design</h1>
		
		<div class="dessins">
			<img src="{{ asset('images/dessins.png') }}" alt="Margaux Bailly dessins - designer">
		</div>
		
		<div class="ronds">
			<img src="{{ asset('images/rond.png') }}" alt="Margaux Bailly dessins rond - designer">
		</div>
		
		<div class="margaux">
			<img src="{{ asset('images/margaux.png') }}" alt="Margaux Bailly - designer">
		</div>
	</div>
{% endblock %}