{% extends 'base.html.twig' %}

{% block class_projets %}projet-actif{% endblock %}
{% block class_propos %}inactive{% endblock %}
{% block class_contact %}inactive{% endblock %}


{% block body %}
	<div class="projets">
		<div class="row expanded">
			{% for project in projects %}
				<div
					class="small-12 medium-4 columns bloc {% if loop.index % 2 == 0 %}clair{% endif %} {% if loop.last %}end{% endif %}"
					{% if images[project.id] is defined %}style="background-image: url({{ images[project.id] }})"{% endif %}
				>
					<h3>{{ project.title }}</h3>
					<div class="border"></div>
					<p>{{ project.description }}</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}