{% extends 'base.html.twig' %}

{% block class_projets %}projet-actif{% endblock %}
{% block class_propos %}inactive{% endblock %}
{% block class_contact %}inactive{% endblock %}


{% block body %}
	<div class="projets">
		<div class="row expanded">
			<div class="small-12 medium-4 columns bloc">
			
			</div>
			<div class="small-12 medium-4 columns bloc clair">
			
			</div>
			<div class="small-12 medium-4 columns bloc">
			
			</div>
		</div>
		<div class="row expanded">
			<div class="small-12 medium-4 columns bloc clair">
			
			</div>
			<div class="small-12 medium-4 columns bloc">
			
			</div>
			<div class="small-12 medium-4 columns bloc clair">
			
			</div>
		</div>
	</div>
{% endblock %}