.contact {
	margin-top: 1rem;

	h2 {
		font-family: futurabook;
		color: $contact-h2-color;
		font-size: 30px;
		margin-top: 0.5rem;
	}

	p {
		font-family: futuralight;
		font-size: 20px;
		margin-bottom: 0;
	}

	form {
		background: $contact-form-background;
		padding: 30px;
		margin-top: 1rem;

		label {
			font-size: 25px;
			float: left;
			font-family: futurabook;
		}

		input {
			border: none;
			background: $contact-form-input-background;
			box-shadow: none;
			margin-left: 10px;
		}

		.message {
			padding: 0 2rem;

			textarea {
				border: none;
				resize: none;
				background: $contact-form-input-background;
				box-shadow: none;
			}
		}

		button {
			font-size: 25px;
			margin: 0 auto;
			margin-top: 0.5rem;
			padding: 15px;
			display: block;
			cursor: pointer;
			background: $contact-form-input-background;
		}
	}

	.espace-bottom {
		/*margin-bottom: 5rem;*/
	}
}