header {
	background-color: $header-background;

	nav {
		padding: 20px 0;
		font-size: 30px;
		line-height: 40px;

		a {
			transition: all 0.3s ease;
		}

		a.accueil {
			color: $header-color;
			text-decoration: none;
			text-align: center;

			span {
				display: block;
			}

			.nom {
				text-transform: uppercase;
			}
		}

		a.projet-actif {
			color: $header-projets-active-color;
		}
		a.projet:hover {
			color: $header-projets-active-color;
		}

		a.propos-actif {
			color: $header-apropos-active-color;
		}
		a.propos:hover {
			color: $header-apropos-active-color
		}

		a.contact-actif {
			color: $header-contact-active-color;
		}
		a.contact:hover {
			color: $header-contact-active-color
		}

		a.linkedin:hover {
			color: $header-linkedin-hover-color;
		}
		a.instagram:hover {
			color: $header-instagram-hover-color;
		}

		a.inactive {
			color: $header-link-inactive-color;
		}

		ul {
			line-height: 80px;
			font-size: 20px;
			padding-left: 20%;

			@media screen and (max-width: 640px) {
				padding-left: 10%;
			}

			li {
				display: inline-block;
				list-style: none;
				width: 30%;

				a {
					color: $header-color;
				}
			}
		}

		.icones {
			@media screen and (max-width: 640px) {
				div {
					display: block;
					margin: 0 auto;
					width: 137px;
				}
			}

			i {
				display: inline-block;
				line-height: 80px;
				color: $header-color;
				margin-right: 20px;
				font-size: 50px;
			}
		}
	}
}