@font-face {
	font-family: futura;
	src: url(fonts/futuram.ttf);
}

@font-face {
	font-family: futurabook;
	src: url(fonts/futura-book.ttf);
}

@font-face {
	font-family: futuralight;
	src: url(fonts/futura-light.ttf);
}

@font-face {
	font-family: futuraextra;
	src: url(fonts/futura-extra.ttf);
}

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: futura;
	background-color: #f8f8f8;
}


$header-background: #ffffff;
$header-color: #000000;
$header-projets-active-color: #b7181a;
$header-apropos-active-color: #065f79;
$header-contact-active-color: #10642c;
$header-link-inactive-color: #e6e6e6;
$header-linkedin-hover-color: #0073b2;
$header-instagram-hover-color: #f04d4a;

$index-color: #ffffff;

$apropos-span-color: #065f79;
$apropos-a-background: #588697;
$apropos-a-color: #ffffff;

$contact-h2-color: #10642c;
$contact-form-background: #ffffff;
$contact-form-input-background: #f6f6f6;

@import "header";
@import "index";
@import "projet";
@import "a_propos";
@import "contact";